################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Main Solution/WhatsNewInCS8/obj/Debug
/Main Solution/WhatsNewInCS8/bin/Debug
/Main Solution/.vs/Main Solution/v16/Server/sqlite3
