################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Main Solution/WhatsNewInCS8/obj/Debug
